.mainMenuBox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80vw;
    border: solid white 2px;
    /* background-color: blue; */
}

.mainMenu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.titleText {
    font-size: 55px;
    border-bottom: solid white 2px;
}

.subTitleText {
    font-size: 35px;
    margin-bottom: 20px;
}

.newGameButton {
    background-color: black;
    border: none;
    height: 50px;
    width: 300px;
    font-size: 25px;
  }
  
  .newGameButton:hover {
    color: antiquewhite;
    border: solid antiquewhite 1px;
    cursor: url('/PixelCursor.png'), auto;
  }
  
  .continueButton {
    background-color: black;
    border: none;
    height: 50px;
    width: 300px;
    font-size: 25px;
  }
  
  .continueButton:hover {
    color: antiquewhite;
    border: solid antiquewhite 1px;
    cursor: url('/PixelCursor.png'), auto;
  }