.room1Box {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    height: 800px;
    width: 1200px;
    border: solid white 2px;
}

.square {
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}

.square:hover {
    border: 1px solid white;
}

.room1Box img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 60px;
    height: 60px;
    object-fit: contain;
}