.character-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);  /* Semi-transparent black background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;  /* Ensure it's above everything else */
}

.character-info {
    background-color: black;
    color: white;
    border: 5px solid antiquewhite;
    height: 483px;
    width: 400px;
    text-align: center;
}

.character-header {
    border-bottom: 1px solid white;
    height: 100px;
}

.character-stats {
    border-bottom: 1px solid white;
    height: 100px;
}

.character-equipped {
    border-bottom: 1px solid white;
    height: 75px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.equipped-square {
    height: 75px;
    border: 1px solid white;
}

.character-inventory {
    border-bottom: 1px solid white;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.inventory-square {
    height: 74px;
    border: 1px solid white;
}

.tooltip {
    background-color: black;
    color: antiquewhite;
    padding: 5px;
    border: 1px solid antiquewhite;
    font-size: 15px;
    pointer-events: none;  /* Prevent the tooltip from interfering with mouse events */
}

.menuButton {
    background-color: black;
    border: none;
    height: 40px;
    width: 300px;
    font-size: 25px;
    margin-top: 5px;
  }

.menuButton:hover {
    color: antiquewhite;
    cursor: pointer;
    border: solid antiquewhite 1px;
  }
  
